# CMSE 201: Quiz 1 (TEMPLATE Spring 2024) 

## <p style="text-align: right;"> &#9989; Mark Endicott</p>

## Goals and Instructions

The goal of this quiz is to give you the opportunity to test out some of the skills that you've developed thus far this semester. In particular, you'll reflect on what you know about writing code using Python and showcase some of your new programming skills.

**Important note about using online resources**: This exam is "open internet". That means that you can look up documentation, google how to accomplish certain Python tasks, etc. Being able to effectively use the internet for computational modeling and data science is a very important skill, so we want to make sure you have the opportunity to exercise that skill. **However, the use of any person-to-person communication software is absolutely not acceptable.**

**You cannot use ChatGPT or any other artificial intelligence tool. If you do you get 0 points!!!**

**Do your own work.** This quiz is designed to give *you* the opportunity to show the instructor what you can do and you should hold yourself accountable for maintaining a high level of academic integrity. Any violation of academic integrity could result in you receiving a zero on the quiz.

There are a total of **30 points** possible on this quiz and each part of the quiz can be done independently. **If you get stuck _move on to another part of the quiz to earn some points there!_**

![Moira](https://media.giphy.com/media/26gs78HRO8sOuhTkQ/giphy.gif)

---
<a id="toc"></a>

## Table of Contents

[Part 0. Academic Integrity Statement](#part_0) (1 point)

[Part 1. Variables](#part_1)  (5 points)

[Part 2. Lists and Indexing](#part_2)  (4 points)

[Part 3. Elementwise operations via loops](#part_3) (9 points)

[Part 4. Loops and conditional statements](#part_4) (11 points)

In [1]:
points_list = [1, 5, 4, 9, 11 ]

print(f"The total number of points is : {sum(points_list)}")

The total number of points is : 30

---
<a id="part_0"></a>

# Academic integrity statement (1 points)

[Back to Top](#toc)

In the markdown cell below, put your personal academic integrity statement. By including this statement, you are confirming that you are submitting this as your own work and not that of someone else.

As a Spartan, I will strive to uphold values of the highest ethical standard. I will practice honesty in my work, foster honesty in my peers, and take pride in knowing that honor in ownership is worth more than grades. I will carry these values beyond my time as a student at Michigan State University, continuing the endeavor to build personal integrity in all that I do.

---
<a id="part_1"></a>

# Part 1. Variables (5 points)
[Back to Top](#toc)

In the first cell below, define **two** variables: one holding your name as a string and the other holding the number of how many people in your group, as an **integer**.

In the second cell below, write a print statement (using your two variables defined in the first cell) that prints a complete sentence stating your name and the number you choose. Remember to put spaces.

In [1]:
name = "Mark Endicott"
group_count = 6

In [3]:
print("My name is", name, "and my group count is", group_count)

My name is Mark Endicott and my group count is 6

---
<a id="part_2"></a>

# Part 2. Lists and Indexing (4 points)
[Back to top](#toc)

In the cell below, define a list that holds the names of at least 5 animals, but make it so that the first animal in your list is **elephant**. Then, using indices to access the values in your list, write a print statement that prints animals in alphabetic order.

In [9]:
anim_lst = ["Elephant", "Chicken", "Turkey", "Kiwi", "Walrus"]

print(anim_lst[0])
anim_lst.sort()
print(anim_lst)

Elephant
['Chicken', 'Elephant', 'Kiwi', 'Turkey', 'Walrus']

---
<a id="part_3"></a>

# Part 3. Elementwise operations via loops (9 points): 
[Back to Top](#toc)

You work for a bookstore, specifically helping them figure out how much they need to spend on ordering books. The information is stored in three lists:
- One with the name of the book 
- One with the quantity of that book that they need 
- One with the price of the book 

**Your Boss needs a piece of code that will calculate the total cost of books, so they can make up the budget.**  Your task is to 

- find the total cost of each book,
- store each total cost into a new list called `total_cost`,
- calculate the sum of the new list `total_cost`
- print the total cost

In [19]:
book_names = ["Trust", "Arcanus", "The Godfather", "Surviving The Forest", "A Game of Thrones", "Deep Learning"]
book_quantity = [75, 53, 90, 60, 90, 55]
book_prices = [9.5, 45.0, 39.1, 19.20, 23, 32.35]

total_cost = []

for i in range(len(book_names)):
    cost = book_quantity[i] * book_prices[i]
    total_cost.append(cost)
    print(book_names[i], cost)

print()
print("total", sum(total_cost))

Trust 712.5
Arcanus 2385.0
The Godfather 3519.0
Surviving The Forest 1152.0
A Game of Thrones 2070
Deep Learning 1779.25

total 11617.75

---
<a id="part_4"></a>

# Part 4. Loops and conditional statements (11 points): 
[Back to Top](#toc)

The code below is supposed to assign a person to a category based on this rubric

        Not an adult if the age is less than 18
        An adult below the drinking age if the age is greater or equal to 18 but less than 21
        An adult if the age is greater or equal to 21 
        
In the end, the code stores the category into the list `people_category`. The code will run into an error, try to figure it out and fix it.

In [23]:
people_list = ['Giuseppe', 'Giulia', 'Marco',
                  'Isabella', 'Mario', 'Federica',
                  'Alessandro', 'Valentina', 'Davide',
                  'Eleonora', 'Antonio','Martina', 
                  'Roberto', 'Francesca', 'Lorenzo']

ages_list = [18, 21, 19, 
             25, 46, 16,
             27, 26, 40,
             34, 56, 13,
             16, 27, 42]

people_category = [] 

for index in range(len(ages_list)):
    
    age = ages_list[index] 
    
    name = people_list[index]
    
    # PUT HERE YOUR CODE FOR CALCULATING THE LETTER GRADE
    if age < 18:
        cate = "not an adult"
    
    elif age >= 18 and age < 21:
        cate = "an adult below the drinking age"
    
    else:
        cate  = "an adult"
    
    people_category.append( name + " is " + cate )

print(people_category)

['Giuseppe is an adult below the drinking age', 'Giulia is an adult', 'Marco is an adult below the drinking age', 'Isabella is an adult', 'Mario is an adult', 'Federica is not an adult', 'Alessandro is an adult', 'Valentina is an adult', 'Davide is an adult', 'Eleonora is an adult', 'Antonio is an adult', 'Martina is not an adult', 'Roberto is not an adult', 'Francesca is an adult', 'Lorenzo is an adult']

&#9989;&nbsp; **Part 4.1 (6 points):** In the cell below, answer the following questions

1. The line of code that caused the error(s) (1 point)
2. Where appropriate, the type of error it is (i.e. the error code) (1 point)
3. A plain English description of the error(s) in the code (2 points)
4. Create a new cell and write your solution in there. (2 points)

<font size=+3>&#9998;</font> *Put your answer here.*

1. The line that caused the error is the for loop indexing through the age_list.

2. The range function wants to interpret the list as an integer but fails to do so.

3. The range function creates a list of integer that the loop iterates through. When the input to range turned out to be a list, there was a mismatch between the value given and the expected value.

In [24]:
for index in range(len(ages_list)): 
    #simply including a length function to return a numerical count of the ages_list.
    
    age = ages_list[index] 
    
    name = people_list[index]
    
    if age < 18:
        cate = "not an adult"
    
    elif age >= 18 and age < 21:
        cate = "an adult below the drinking age"
    
    else:
        cate  = "an adult"
    
    people_category.append( name + " is " + cate )

&#9989;&nbsp; **Part 4.2 (5 points):** Answer the following questions in the cell below

1. Is your code "**looping by index**" or "**looping by value**"? (1 point) 
2. Do you think you could you solve the problem using the other kind of `for` loop? Why or why not? (4 points)

1. The code is looping by index in this case.
2. You could iterate through each value in age_list and perform the same calculations without indexing by ommiting the range function and any index dependent code. Making other minor code adjustments, of course.

---

# Congratulations, you're done!

Submit this quiz by uploading it to the course Desire2Learn web page.  

Go to the **Quizzes** section, find the submission folder link for **Quiz 01**, and upload it there.


![Moira2](https://media.giphy.com/media/d1E2HnwywoTkES08/giphy.gif)

&#169; Copyright 2023,  Department of Computational Mathematics, Science and Engineering at Michigan State University.